/* stilovi - stranica s novostima */

/* top section - vrijedi i za ostale stranice */
.top-section-projekti{
	width: 100%;
	height: 35vh;
	background-size: cover;
	background-position: center;
	background-image: url(../images/projekti-cover.jpg);
}
.top-sectin-h1{
	font-size: 80px;
	@media screen and(max-width:991px){
		font-size: 60px;	
	}
	@media screen and(max-width:767px){
		font-size: 45px;	
	}
}
.overlay--projekti-cover{
	display: flex;
	height: 35vh;
	background-color: rgba(68,64,0,0.4);
	justify-content: center;
	align-content: center;
	align-items: center;
	z-index: 1000;
	
}

.projekti-section--white{
	background-color: white;
	padding-top: 0px;
}

